.hero {
  margin-top: -5rem;
  position:relative;

  &:after {
    margin-top: -5rem;
    content:' ';
    position: absolute;
    width: 100%;
    height: 25vh;
    top:0; left:0;
    background:linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0));
  }

  & .hero-image img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 75vh;
  }

  & .hero-content {
    min-width: 50rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


    & h3 {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 2.4rem;

      span {
        display: inline-block;
      }
    }

    .author {
      margin-bottom: 3rem;
      font-style: italic;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero {
    & .hero-content {
      min-width: 25rem;
    }
  }
}