.navigation {
  margin: 0 0;
  padding: 0 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 10rem;
  z-index: 5;

  & .nav__hamburger {
    display: none;
  }
  & .nav__hamburger:hover {
    cursor: pointer;
  }

  & .nav__logo {
    svg {
      height: 2rem;
    }

    #maket-path {
      fill: #333333;
      stroke: $black;
      stroke-dasharray: 1000;

      stroke-width: 0;
      animation: logo 4s linear;

      @keyframes logo {
        0% {
          stroke-width: 1pt;
          stroke-dashoffset: 1000;
          fill-opacity: 0;
        }
        50% {
          fill-opacity: 0;
        }

        100% {
          stroke-dashoffset: 0;
          fill-opacity: 1;
          stroke-width: 0;
        }
      }
    }
  }

  .logo > img {
    height: 2rem;
  }

  nav {
    margin-left: auto;
    min-width: 50%;
  }

  & ul {
    list-style-type: none;
    display: flex;
  }

  & ul > li {
    flex: 1 1 0;
    padding: 0 2rem;
    text-align: center;

    font-weight: 500;


    a {
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      transition: .3s;
    }

    a:hover {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $TABLET-SIZE) {
  .navigation {

    & nav {
      position: absolute;
      top: 10rem;
      left: 100%;
      width: 100%;
      background: $white;
      z-index: 10;
      transition: 0.6s ease-out;
    }

    & nav.expanded {
      left: 0;
    }

    & ul {
      flex-flow: row wrap;
      padding: 2rem 0;
    }

    & ul > li {
      padding: 1rem 0;
      flex-basis: 100%;

      a:hover {
        color: $black;
      }
    }

    & .nav__hamburger {
      display: block;
      margin-left: auto;
    }
  }
}