// Quick reset
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1rem=10px; 10px/16px = .625

}

body {
    box-sizing: border-box;

    font-family: Circular, sans-serif;
    font-weight: 300;
    font-size: $default-font-size;
    overflow-x: hidden;
}

section {
    margin: 3rem 5rem;
}

h1 {
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 2.4rem;
    text-transform: uppercase;
}

p {
    font-weight: 300;
}

.section-header {
    text-align: center;
  }

@media screen and (max-width: $TABLET-SIZE) {
    section {
        margin: 3rem 3rem;
    }
}

