/* If you want to use bootstrap framework please use the following block */
/*******
// Import bootstrap and fontawesome core
@import "vendors/bootstrap/bootstrap.scss";
@import "vendors/font-awesome/font-awesome.scss";

// Import your own customization
@import "variables.scss";
@import "custom.scss";
********/
/* If you wrire your own scss please use the below structure */
@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Circular/CircularStd-Book.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/Circular/CircularStd-BookItalic.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Circular/CircularStd-Medium.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/Circular/CircularStd-MediumItalic.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Circular/CircularStd-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Circular/CircularStd-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Circular/CircularStd-Black.woff") format("woff"); }

@font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/Circular/CircularStd-BlackItalic.woff") format("woff"); }

/*
0-600px: Phone
600-900px: Tablet
900-1200px: Tablet landscape
{1200-1800}: our normal destop is
1800px +: Big desktop

$breakpoint argument choices:
- phone
- tab-potrt
- tab-land
- big-desktop

ORDER to add media query:
Base + typography > General layout + grid > page layout > component

We will use em because it is more consistent than rem across browsers
This is only only in the media query
1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Circular, sans-serif;
  font-weight: 300;
  font-size: 1.4rem; }

.maket-page-wrapper {
  overflow-x: hidden;
  position: relative; }

section {
  margin: 3rem 5rem; }

h1, h2 {
  margin-bottom: 3rem;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: uppercase; }

h3 {
  font-size: 2rem;
  margin-top: 1rem; }

p {
  font-weight: 300; }

.section-header {
  text-align: center; }

@media screen and (max-width: 768px) {
  section {
    margin: 3rem 3rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navigation {
  margin: 0 0;
  padding: 0 5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  z-index: 5; }
  .navigation .nav__hamburger {
    display: none; }
  .navigation .nav__hamburger:hover {
    cursor: pointer; }
  .navigation .nav__logo svg {
    height: 2rem; }
  .navigation .nav__logo #maket-path {
    fill: #333333;
    stroke: #000000;
    stroke-dasharray: 1000;
    stroke-width: 0;
    -webkit-animation: logo 4s linear;
            animation: logo 4s linear; }

@-webkit-keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1000;
    fill-opacity: 0; }
  50% {
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0; } }

@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1000;
    fill-opacity: 0; }
  50% {
    fill-opacity: 0; }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0; } }
  .navigation .logo > img {
    height: 2rem; }
  .navigation nav {
    margin-left: auto;
    min-width: 50%; }
  .navigation ul {
    list-style-type: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .navigation ul > li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 0 2rem;
    text-align: center;
    font-weight: 500; }
    .navigation ul > li a {
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
    .navigation ul > li a:hover {
      color: #ffffff;
      text-decoration: none;
      text-transform: uppercase; }

@media screen and (max-width: 768px) {
  .navigation nav {
    position: absolute;
    top: 10rem;
    left: 100%;
    width: 100%;
    background: #ffffff;
    z-index: 10;
    -webkit-transition: 0.6s ease-out;
    -o-transition: 0.6s ease-out;
    transition: 0.6s ease-out; }
  .navigation nav.expanded {
    left: 0; }
  .navigation ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    padding: 2rem 0; }
  .navigation ul > li {
    padding: 1rem 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
    .navigation ul > li a:hover {
      color: #000000; }
  .navigation .nav__hamburger {
    display: block;
    margin-left: auto; } }

.hero {
  margin: 3rem 0;
  margin-top: -5rem;
  position: relative; }
  .hero .hero__image img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    height: calc(75vh); }
  .hero .hero__content {
    min-width: 50rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; }
    .hero .hero__content h1 {
      text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15); }
      .hero .hero__content h1 span {
        display: inline-block; }

@media screen and (max-width: 768px) {
  .hero .hero__content {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    min-width: 25rem; } }

.services .services__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.services .services__item {
  margin-top: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  min-width: 20rem; }
  .services .services__item h2 {
    margin-top: 2rem; }

.services .services__item-img {
  margin: auto;
  width: 20rem;
  height: 20rem;
  background: #F9BD06;
  border-radius: 100%; }
  .services .services__item-img img {
    width: 10rem;
    margin-top: 50%;
    margin-left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .services .services__item-img img svg {
      fill: #ffffff; }

@media screen and (max-width: 768px) {
  .services .services__item {
    min-width: 100%; } }

.portfolios {
  margin: 0 0;
  padding: 3rem 5rem;
  background: #000000;
  color: #ffffff; }
  .portfolios .portfolios__wrapper {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; }
  .portfolios .portfolios__item {
    position: relative;
    min-width: 25rem;
    min-height: 25rem;
    -webkit-background-size: cover;
            background-size: cover;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s; }
    .portfolios .portfolios__item > img {
      max-height: 100px;
      position: absolute;
      z-index: 100; }
    .portfolios .portfolios__item::after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .portfolios .portfolios__item:hover::after {
      background-color: rgba(0, 0, 0, 0.2); }
    .portfolios .portfolios__item a {
      opacity: 0;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .portfolios .portfolios__item:hover a {
      opacity: 1; }
    .portfolios .portfolios__item .portfolio__info {
      position: absolute;
      width: 100%;
      bottom: 2rem;
      z-index: 5;
      text-align: center; }
      .portfolios .portfolios__item .portfolio__info span {
        display: inline-block; }
    .portfolios .portfolios__item .client__name {
      width: 90%;
      margin: auto;
      margin-bottom: 0rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
    .portfolios .portfolios__item:hover .client__name {
      margin-bottom: 2rem;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

@media screen and (min-width: 1200px) {
  .portfolios .portfolios__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
  .portfolios .portfolios__item {
    min-height: 30rem; } }

.footer p {
  text-align: center;
  font-weight: 700; }
  .footer p img.heart {
    margin: 0 .3rem;
    width: 1.5rem;
    height: 1.5rem; }

.btn {
  background: #9b59b6; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    position: relative;
    -webkit-box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
    border: none;
    cursor: pointer; }
  .btn:hover {
    -webkit-transform: translateY(-0.3rem);
        -ms-transform: translateY(-0.3rem);
            transform: translateY(-0.3rem);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      -webkit-transform: scaleX(1.4) scaleY(1.6);
          -ms-transform: scaleX(1.4) scaleY(1.6);
              transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    -webkit-transform: translateY(-0.1rem);
        -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s; }
  .btn--white {
    background-color: #ffffff;
    color: #000000; }
    .btn--white::after {
      background-color: #ffffff; }
  .btn--animated {
    -webkit-animation: moveInBottom .5s ease-out .75;
            animation: moveInBottom .5s ease-out .75;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #f1c40f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f1c40f;
  padding: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.btn-text:hover {
  background-color: #f1c40f;
  color: #ffffff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px); }

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }
/*# sourceMappingURL=main.css.map */