<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->

    <title>Starter Template for Bootstrap</title>
    <link rel="icon" href="img/fav.ico" type="image/ico">
    <!-- Custom styles for this template -->
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/main.min.css" rel="stylesheet">

</head>

<body>

    <div class="maket-page-wrapper">

        <% include ./partials/nav %>

        <section class="hero">
            <div class="hero__image"><img src="img/hero/hero-4.jpg" alt=""></div>
            <div class="hero__content">
                <h1><span>We design.</span> <span>We build.</span> <span>We create.</span></h1>
                <a href="#" class="btn">Explore</a>
            </div>
        </section>

        <section class="services">
            <div class="section-header">
                <h2>
                    Our Services
                </h2>
            </div>
            <div class="services__wrapper">
                <div class="services__item">
                        <div class="services__item-img" data-aos="fade-right">
                        <!-- <div class="services__item-img"> -->
                            <img src="img/services/newspaper.svg"  alt="">
                        </div>
                    <h3>Graphic</h3>
                    <p>Magazines, logos, leaflets</p>
                </div>
                <div class="services__item">
                    <div class="services__item-img" data-aos="fade-up">
                    <!-- <div class="services__item-img"> -->
                        <img src="img/services/hotel.svg" alt="">
                    </div>
                    <h3>Architecture</h3>
                    <p>Buildings, houses, shops</p>
                </div>
                <div class="services__item">
                    <div class="services__item-img" data-aos="fade-left">
                    <!-- <div class="services__item-img"> -->
                        <img src="img/services/window.svg" alt="">
                    </div>
                    <h3>Web</h3>
                    <p>Websites, applications, templates</p>
                </div>
            </div>

        </section>

        <section class="portfolios">
            <div class="section-header">
                <h1>
                    Portfolios
                </h1>
            </div>
            <div class="portfolios__wrapper">
                <div class="portfolios__item" style="background-image: url('img/portfolios/pvcb.jpg');">
                    <img src="img/clients/PVlogo.svg" alt="">
                    <div class="portfolio__info">
                        <div class="client__name">
                            <h3>PVcomBank</h3>
                        </div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <div class="portfolios__item" style="background-image: url('img/portfolios/vna.jpg');">
                    <img src="img/clients/fashionLOGO.svg" alt="">
                    <div class="portfolio__info">
                        <div class="client__name">
                            <h3><span>Heritage Fashion -</span> <span>Vietnam Airline</span></h3>
                        </div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <div class="portfolios__item" style="background-image: url('img/portfolios/golf.jpg');">
                    <img src="img/clients/golfLOGO.svg" alt="">
                    <div class="portfolio__info">
                        <div class="client__name">
                            <h3>Golf Vietnam</h3>
                        </div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <div class="portfolios__item" style="background-image: url('img/portfolios/pvcb.jpg');">
                    <img src="img/clients/PVlogo.svg" alt="">
                    <div class="portfolio__info">
                        <div class="client__name">
                            <h3>PVcomBank</h3>
                        </div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
                <div class="portfolios__item" style="background-image: url('img/portfolios/vna.jpg');">
                    <img src="img/clients/fashionLOGO.svg" alt="">
                    <div class="portfolio__info">
                        <div class="client__name">
                            <h3><span>Heritage Fashion -</span> <span>Vietnam Airline</span></h3>
                        </div>
                        <a href="#" class="btn">View</a>
                    </div>

                </div>
                <div class="portfolios__item" style="background-image: url('img/portfolios/golf.jpg');">
                    <img src="img/clients/golfLOGO.svg" alt="">
                    <div class="portfolio__info">
                        <div class="client__name">
                            <h3>Golf Vietnam</h3>
                        </div>
                        <a href="#" class="btn">View</a>
                    </div>
                </div>
            </div>
        </section>

        <section class="team">Team</section>

        <section class="contact">Contact</section>

        <% include ./partials/footer %>
    </div>



</body>

</html>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="js/maket.js"></script>
</body>
</html>
